/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 20px;
    line-height: 26px;
    font-family: "DM Sans", sans-serif;
    color: #010700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
    background: none;
    color: #24D406;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 24px;
}

h2 {
    font-size: 40px;
    line-height: 52px;
    margin: 0 0 48px;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    line-height: 1.5em;
    margin: 0 0 24px;
    font-weight: 600;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: #010700;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: #010700;
}

a:hover,
a:focus {
    color: #010700;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Welcome
    ---
    
*/

.o-welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    padding: 24px 24px 0;
    display: flow-root;
}

/* header modifier */

.o-row--header {
    background-color: rgba(255, 255, 255, 0.97);
    border-bottom: 1px solid rgba(12, 20, 26, 0.10);
    padding: 15px 24px 15px 24px;
    position: fixed;
    width: 100%;
}

/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--md {
    padding-top: 24px;
    padding-bottom: 48px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
}

.o-row--xxl {
    padding-top: 144px;
    padding-bottom: 48px;
}

.o-row-bp3 {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }

    .o-row--md {
        padding-top: 48px;
        padding-bottom: 72px;
    }

    .o-row--lg {
        padding-top: 72px;
        padding-bottom: 48px;
    }

    .o-row--xxl {
        padding-top: 168px;
        padding-bottom: 48px;
    }

    .o-row-bp3 {
        padding-left: 72px;
        padding-right: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 69.8em;
    /* 69.8 * 20px = 1392px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flow-root;
}

.o-section+.o-section {
    margin-top: 48px;
}

@media (min-width: 768px) {

    .o-section--lg+.o-section--lg,
    .o-section--xl+.o-section--xl {
        margin-top: 48px;
    }
}

@media (min-width: 992px) {
    .o-section--xl+.o-section--xl {
        margin-top: 72px;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-layout-bp3 {
    display: block;
}

.o-layout__item {
    flex-basis: 100%;
}

.o-layout__table {
    display: block;
}

.o-layout__rfidbutton {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

@media (min-width: 992px) {
    .o-layout-bp3 {
        display: flex;
        flex-wrap: wrap;
    }

    .o-layout__table {
        max-width: 1240px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter>.o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm>.o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-m {
    margin: 0 -16px;
}

.o-layout--gutter-m>.o-layout__item {
    padding: 0 16px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg>.o-layout__item {
    padding: 0 24px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

.o-layout--row-reverse-bp3 {
    flex-direction: row;
}

@media (min-width: 992px) {
    .o-layout--row-reverse-bp3 {
        flex-direction: row-reverse;
    }
}


/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is more than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}


/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: Header
    ---
    Header for page
*/

.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-header__nav {
    display: none;
}

@media (min-width: 992px) {
    .c-header__nav {
        display: block;
    }

    .c-header__nav--main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .c-header__mobile-nav-trigger {
        display: none;
    }
}

/*
    Component: Navigation
    ---
    Navigation for page
*/

.c-nav-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-nav-trigger__svg {
    fill: #010700;
    height: 100%;
}

.c-nav {
    font-size: 26px;
    font-weight: 600;
}

.c-nav--meta {
    font-size: 16px;
}

.c-nav__link {
    text-decoration: none;
    font-weight: 400;
    display: block;
    padding: 8px 0;
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
    color: #010700;
}

.c-nav__link--meta,
.c-nav__link--meta:visited,
.c-nav__link--meta:active {
    color: #010700;
}

@media (min-width: 992px) {
    .c-nav__list {
        display: flex;
        margin-left: -16px;
        margin-right: -16px;
    }

    .c-nav__link {
        padding: 8px 16px;
    }
}

/*
    Component: Welcome Form
    ---
    welcomeform for page
*/

.c-welcome-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*
    Component: Intro
    ---
    Intro for page
*/

.c-intro {
    position: relative;
    text-align: center;
    color: white;
}

.c-intro__text {
    color: white;
    font-size: 30px;
    width: 318px;
    text-align: center;
    position: absolute;
    top: 217px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-intro__text--header {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 8px;
}

.c-intro__text--subheader {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 16px;
}

@media (min-width: 992px) {
    .c-intro__text--header {
        font-size: 72px;
        font-weight: 600;
        line-height: 94px;
        margin-bottom: 8px;
    }

    .c-intro__text {
        color: white;
        font-size: 72px;
        line-height: 94px;
        width: 760px;
    }

    .c-intro__text--subheader {
        font-size: 60px;
        font-weight: 600;
        line-height: 78px;
        margin-bottom: 16px;
    }
}


.c-intro__cta {
    display: flex;
    gap: 32px;
}

.c-intro__image {
    width: 100%;
    height: 376px;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {
    .c-intro__title--text {
        font-size: 48px;
        line-height: 48px;
    }

}

@media (min-width: 992px) {
    .c-intro__title--text {
        font-size: 66px;
        line-height: 72px;
    }
}

/*
    Component: BigPicture
    ---
    Big Picture for register / login page
*/

.c-bigpic {
    display: none;
}

.c-bigpic__transcript {
    position: absolute;
    bottom: -20px;
    right: 10px;
    color: rgb(220, 236, 116);
}

@media (min-width: 992px) {
    .c-bigpic {
        display: block;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: left;
        overflow: hidden;
    }
}

/*
    Component: Dot
    ---
    Dots
*/

.c-dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    padding-top: 24px;
}

/*
    Component: titel
    ---
    title for article
*/

.c-titel {
    font-size: 60px;
    line-height: 78px;
    color: #010700;
}

/*
    Component: article links
    ---
    link for article
*/

.c-article--link {
    color: #77DD66;
}

/*
    Component: Link
    ---
    Link for page
*/

@media (min-width: 992px) {
    .c-link {
        color: inherit;
        text-decoration: none;
        padding-top: 26px;
        margin: 8px 16px;
    }

    .c-link {
        background-size: 20px;
        background:
            linear-gradient(to right,
                #010700,
                #010700),
            linear-gradient(to right,
                #24D406,
                #24D406);
        background-size: 100% 3px, 0 3px;
        background-position: 100% 0%, 100% 0;
        background-repeat: no-repeat;
        transition: background-size 400ms;
    }

    .c-link--active {
        background:
            linear-gradient(to right,
                #24D406,
                #24D406);
        background-size: 100% 3px;
        background-position: 100% 0%;
        background-repeat: no-repeat;
    }

    .c-link:hover {
        background-size: 0% 3px, 100% 3px;
    }
}

/*
    Component: OrBreak
    ---
    OrBreak for page
*/

.c-or-break {
    text-decoration: line-through;
}

/*
    Component: Button
    ---
    Buttons for page
*/

.c-btn {
    font-size: 24px;
    font-weight: 600;
    border-radius: 6px;
    text-decoration: none;
}

.c-btn--sml {
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    text-decoration: none;
}

.c-btn--lg {
    font-size: 24px;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    padding: 14px 88px;
    color: #fff;
    background-color: #010700;
    border: none;
}

.c-btn--login {
    font-size: 24px;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    padding: 14px 136px;
    color: #fff;
    background-color: #010700;
    border: none;
}

.c-btn--nfclogin {
    width: 240px;
    font-size: 24px;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 166px;
    color: #010700;
    background-color: #fff;
    border: 2px solid #010700;
}

.c-btn--nfclogin__text {
    width: 192px;
}

.c-btn--selected {
    color: #fff !important;
    background-color: #010700;
    padding: 4px 14px;
}

.c-btn--unselected {
    color: #010700 !important;
    background-color: #fff;
    border-color: #010700;
    border-style: solid;
    padding: 2px 12px;
}

.c-registerbtn {}

@media (min-width: 992px) {
    .c-btn--lg {
        padding: 16px 136px;
    }

    .c-btn--login {
        padding: 14px 184px;
    }

    .c-btn--nfclogin {
        padding: 10px 214px;
    }
}

/*
    Component: Registration
    ---
    registration components
*/

.c-reg-input {
    padding-left: 16px;
    width: 336px;
    height: 56px;
    border: 1px, solid, #292F28;
    border-radius: 8px;
}

@media (min-width: 992px) {
    .c-reg-input {
        font-size: 24px;
        color: #292F28;
        width: 432px;
        height: 56px;
        border: 1px, solid, #434743;
        border-radius: 8px;
    }
}


/*
    Component: mobile nav
    ---
    Dedicated mobile nav component
*/
.c-mobile-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    pointer-events: none;
    z-index: 10000;
}

.has-mobile-nav .c-mobile-nav {
    pointer-events: auto;
}

.c-mobile-nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.c-mobile-nav__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #202024;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.has-mobile-nav .c-mobile-nav__bg {
    opacity: 0.5;
}

.c-mobile-nav__body {
    position: relative;
    padding: 24px;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
}

.has-mobile-nav .c-mobile-nav__body {
    transform: translateX(0);
}

.c-page {
    position: relative;
    will-change: transform;
    transition: transform 0.25 ease;
}

.has-mobile-nav .c-page {
    transform: translateX(25%);
}

@media (min-width: 768px) {
    .c-mobile-nav__body {
        padding: 48px;
    }
}

@media (min-width: 992px) {

    /* Hide the mobile nav on larger viewports even whent it's open on smaller screens */
    .c-mobile-nav {
        display: none !important;
    }
}

/*
    Component: Table
    ---
    Table for history
*/

.c-table {
    border-collapse: collapse;
    /* min-width: 400px; */
}

.c-table__head {
    background-color: #77DD66;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
}

.c-table th,
.c-table td {
    text-align: left;
    padding: 0px 56px 24px 0px;
    size: 100%;
}

.c-table__body {
    border-bottom: 1px solid #dddddd;
}

/*
    Component: UserTable
    ---
    tabel for users
*/

.c-styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    table-layout: fixed;
    width: 0.9vw;
}

.c-styled-table thead tr {
    /* background-color: #009879; */
    color: #565656;
    text-align: left;
    font-size: 30;
    font-weight: 600;
}

.c-styled-table th,
.c-styled-table td {
    padding: 12px 15px;
}

.c-styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.c-styled-table tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.c-styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.c-styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

@media (min-width: 992px) {
    .c-styled-table {
        width: 100%;
    }
}

/*
    Component: Form
    ---
    Forms of page
*/

.c-input {
    all: unset;
    border-bottom: 1px solid #010700;
}

/*
    Component: Info
    ---
    Info of page
*/

.c-info {
    font-size: 40px;
    line-height: 52px;
    margin: 0 0 48px;
    font-weight: 600;
}

.c-info__sub {
    font-size: 30px;
    line-height: 1.5em;
    margin: 0 0 24px;
    font-weight: 600;
}

.c-info__small {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 400;
}

@media (min-width: 992px) {
    .c-info {
        font-size: 48px;
        line-height: 63px;
    }

    .c-info__sub {
        font-size: 36px;
    }
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: coloring
    ---
    Coloring classes to put specific color on item
*/

.u-clr-main {
    color: #24D406 !important;
}

.u-clr-dark {
    color: #010700 !important;
}

.u-clr-light {
    color: #fff !important;
}

.u-clr-red {
    color: #d40606 !important;
}

.u-bgclr-main {
    background-color: #24D406 !important;
}

/*
    Utilities: z-index
    ---
    Utility classes to put z-index
*/

.u-z-index-hgh {
    z-index: 1000;
}

/*
    Utilities: click
    ---
    disable clicking
*/

.u-no-clicking {
    pointer-events: none
}

/*
    Utilities: gap
    ---
    Utility classes to put gap between flex elements
*/
.u-gap--md {
    gap: 16px;
}

.u-gap--lg {
    gap: 148px;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mt-clear {
    margin-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-24 {
    margin-bottom: 24px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

.u-mb-xxl {
    margin-bottom: 56px !important;
}

.u-mb-xxxl {
    margin-bottom: 86px !important;
}

.u-pd-rght-l {
    padding-right: 86px !important;
}

.u-pd-rght-m {
    padding-right: 67px !important;
}

.u-pd-rght-s {
    padding-right: 120px !important;
}

.u-pd-rght-xs {
    padding-right: 48px !important;
}

.u-pb-sm {
    padding-right: 24px !important;
}

@media (min-width: 992px) {
    .u-mb-xl-bp3 {
        margin-bottom: 48px !important;
    }

    .u-pd-rght-l {
        padding-right: 325px !important;
    }

    .u-pd-rght-m {
        padding-right: 275.5px !important;
    }

    .u-pd-rght-s {
        padding-right: 248px !important;
    }

    .u-pd-rght-xs {
        padding-right: 48px !important;
    }
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 25em !important;
}

.u-max-width-sm {
    max-width: 36em !important;
}

.u-max-width-md {
    max-width: 45em !important;
}

.u-max-width-lg {
    max-width: 60em !important;
}

.u-max-width-xl {
    max-width: 75em !important;
}

.u-max-width-none {
    max-width: none !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
    flex-basis: auto !important;
}

.u-flex-grow-1 {
    flex-grow: 1 !important;
}

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-2-of-6-bp3 {
        flex-basis: calc(100% / 6 * 2) !important;
    }

    .u-4-of-6-bp3 {
        flex-basis: calc(100% / 6 * 4) !important;
    }

    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}